*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    display: flex;
    background-color: black;
    position: relative;
}
.header__logo{
    margin-top: 56px;
    margin-left: 12%;
}
.header__logo a{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}
nav{
    margin-top: 70px;
    margin-left: 29%;
}
.topnav a{
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.topnav a:hover{
    border-bottom: solid 3px #fcac45;
}
.topnav .icon{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main__welcome{
    background-color: #000000;
    text-align: center;
    padding: 200px 0 410px 0;  
}
main .main__welcome p{
    color: #999999;
    font-size: 20px;
}
main .main__welcome h1{
    color: #999999;
    font-size: 44px;
    font-weight: 400;
}
main .mycompany{
    color:#fcac45;
}
.wraper{
    width: 76%;
    margin: 0 auto;
}
main .main__about{
    display: flex;
    padding: 100px 0 100px 0;
}
 .about__right{
    margin-left: 175px;
}
.about__right h2{
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    font-weight: 400;
    font-size: 34px;
    padding-bottom: 20px;
}
main .aboutus{
    font-weight: 600;
}
.about__right p{
    margin: 31px 0 45px 0;
    color: #6c6c6c;
}
.about__right li{
    background: url(../img/mark.png) 0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;
}
.mv-100{
    min-width: 100%;
}
.main__team{
    background-color: #000000;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #fff;
}
.main__team h2{
    font-size: 44px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.line{
    width: 100px;
    height: 3px;
    background-color: #fcac45;
    position: relative;
    margin: 0 auto;

}
.photo{
    background: #d7d7dd;
    width: 125px;
    height:125px;
    border-radius: 50%;
    margin: 20px auto;
}
.team__cards{
    display: flex;
    margin-top: 85px;
}
.card h4{
    font-size: 20px;
    font-weight: 700;
}
.position{
    padding-bottom: 35px;
    font-size: 16px;
}
.about__position{
    font-size: 14px;
}
.card{
    margin: 0 40px;
    padding-bottom: 160px;
}
.main__services{
    padding: 100px 0 100px 0;
    text-align: center;
    color: #000000;
}
.services__cards{
    display: flex;
    margin-top: 100px;
}
.main__services h2{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 400;
    padding-bottom: 30px;
}
.main__about__service{
    margin-top: 55px;
    font-style: italic;
    color: #6c6c6c;
    font-size: 16px;
}
.service__icon{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid #fcac45;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;

}
.service__icon img{
    position: relative;
    text-align: center;
    padding-top: 37px;
}
.service{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}
.about__service{
    margin-top: 20px;
    font-style: normal;
    font-size: 14px;
    color: #000000;
}
.services__card{
    margin: 0 50px;
}
.main__clients{
    background-color:#000000;
    padding: 100px 0 205px 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.main__clients h2{
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 400;
}
.Our__clients{
    font-weight: 600;
}
.main__clients img{
    margin-top: 110px;
    margin-left: 30px;
}
.main__testimonials{
    background-color: #000000;
    color: white;
    padding: 100px 0 170px;
    text-align: center;
}
.main__testimonials h2{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 400;
}
.main__testimonials .testimonials{
    font-weight: 600;
}

.testimonial__paragraph{
    margin-top: 120px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.testimonial__autor{
    margin-top: 50px;
    color: #b2b2b2;
    font-weight: 300 ;
}
.testimonial__autor span{
    font-weight: 700 ;
}

.main__work{
    text-align: center;
    padding: 100px 0 100px 0;
}
.main__work h2{
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 30px;
}
.main__work p{
    margin-top: 56px;
    margin-bottom: 175px;
    color: #6c6c6c;
    font-style: italic;
    font-size: 16px;
    
}
.main__work img:hover{
    opacity: 0.9;
    transition-duration: 0.5s;
}

.contact__form{
padding: 100px 0 100px 0;
}
.contact__form h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 30px;

}
.contact__pharagraph{
    margin-top: 55px;
    text-align: center;
    margin-bottom: 95px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.contact__wraper{
    width: 50%;
    margin: 0 auto;
    color: #636363;
    display: flex;
}
input{
    height: 40px;
    width: 360px;
    font-size: 20px;
    margin-bottom: 30px;
}
.red{
    color: red;
}
.form__inputs{
    display: flex;
}
textarea{
    width: 100%;
    height: 163px;
}
input , textarea{
    border: 1px solid #999999;
    margin-top: 8px;
}
input:first-of-type{
    margin-right: 25px;
}
.button__block{
    display: flex;
    float: right;
}
input[type=submit]{
    height: 40px;
    width: 165px;
    background-color: #fcac45;
    color: #fff;
    margin-right: 0;
    font-size: 16px;
    border:none;
    margin-top: 20px;
}
.footer__wpaper{
    width: 14%;
    margin: 0 auto;
}
footer{
    background-color: #222222;
    height: 92px;
    width: 100%;
    text-align: center;
}
.main__socialmedia{
    padding-top: 31px;
}
@media screen and (max-width: 1010px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        display: block;
        float:right;
        margin-top: -17px;
        color: #fff;
        font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left:-200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right:-200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

    main .main__welcome{
        padding: 50px 0 50px;
    }
    main .main__welcome p{
        font-size: 14px;
    }
    main .main__welcome h1{
        font-size: 25px;
    }
    .mv-100{
    max-width: 100%;
    }
    .main__about{
        flex-direction: column;
    }

    .about__right{
        text-align: center;
        margin-left: 0;
    }
    .about__right li{
        text-align: left;
    }
    .about__right h2{
        font-size: 20px;
        margin-top: 10px;
    }
    .about__right{
        margin-left: 0%;
    }
    .team__cards{
        flex-direction: column;
    }
    .services__cards{
        flex-direction: column;
    }
    .about__service{
        padding-bottom: 40px;
    }
    .line1 img:not(:first-child){
        display: none;
    }
    .line2 img:not(:first-child){
        display: none;
    }
    .line3 img:not(:first-child){
        display: none;
    }
    .form__inputs{
        flex-direction: column;
    }

}
@media screen and (max-width: 1310px){
    nav{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1160px){
    nav{
        margin-left: 10%;
    }
    .about__right{
        margin-left: 10%;
    }
}
@media screen and (max-width: 1010px){
    .about__right{
        margin-left: 0%;
    }
}
@media screen and (max-width: 550px){
    input{
        width: 200px;
        height: 30px;
    }
    textarea{
        width: 80%;
    }
    input[type=submit]{
        height: 25px;
        width: 130px;
        margin-right: 50px;
    }

}
@media screen and (max-width: 290px){
    input{
        width: 100px;
        height: 20px;
    }
    textarea{
        width: 70%;
    }
}
